@import "academics_mixins";
@import "academics_variables";

html {
  background: url("../img/next-top.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.box {

  h1 {
    font-family: Segoe UI;
    margin-top: 25%;
    font-size: 400%;
    padding: 5%;
    text-align: center;
    span{
      color: $orange;
      font-size: 200%;
      font-family: Segoe UI;
    }
  }

   .first{
     -webkit-appearance: none;
     background: url("../img/drop.png") scroll 98% 10px;
     background-size: 110px;
    @include inputs;
    font-size: 40px;
    width: 868px;
    margin-top: 3%;
    &:focus{
      width: 901px;
    }
  }

     .second{
       -webkit-appearance: none;
       background: url("../img/drop.png") scroll 98% 10px;
       background-size: 110px;
      @include inputs;
      margin-top: 7%;
      font-size: 40px;
      width: 715px;
      &:focus{
        width: 868px;
      }
    }

    .third{
      -webkit-appearance: none;
      background: url("../img/drop.png") scroll 98% 10px;
      background-size: 110px;
     @include inputs;
     margin-top: 7%;
     margin-bottom: 7%;
     font-size: 40px;
     width: 550px;
     &:focus{
       width: 868px;
     }
   }

  .para{
    display: inline-block;
    .fourth{
      -webkit-appearance: none;
      background: url("../img/drop.png") scroll 98% 10px;
      background-size: 110px;
      @include inputs;
      margin-left: 8%;
      display: inline-block;
      font-size: 40px;
      width: 425px;
      &:focus{
        width: 425px;
      }
   }
  }
  .uid{
    @include inputs;
    margin-left: 8%;
    display: inline-block;
    font-size: 50px;
    width: 425px;
    &:focus{
      width: 425px;
    }
 }

 .middle{
   font-family: Segoe UI;
   color: $orange;
   text-align: center;
   font-size: 40px;
   margin-bottom: -0.2%;

 }
 .admnyear{
   @include inputs;
   margin-left: 3%;
   display: inline-block;
   font-size: 50px;
   width: 425px;
   &:focus{
     width: 425px;
   }
 }

 .compyear{
   @include inputs;
   margin-left: 6%;
   display: inline-block;
   font-size: 50px;
   width: 425px;
   margin-bottom: 7%;
   &:focus{
     width: 425px;
   }
 }

  input[type="submit"] {
    @include buttons;
  }

}
.foot-img{
  text-align: center;
  margin-top: 10%;
  img{
    height: 3%;
    width: 20%;
  }
}
