@import "home_mixins";
@import "home_variables";

html {
  background: url("../img/new-top.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.top img {
  margin-top: 10%;
  margin-left: 35%;
  height: 20%;
  width: 30%;
}

.logo-img1 {
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
  height: 12%;
  width: 20%;
}

.logo-img2 {
  margin-left: -21%;
  height: 6%;
}

.form-sub {
  margin-left: 20%;
  margin-top: 20%;
}

.box {
  width: 100%;
  margin-top: 70%;
  cursor: pointer;

  h1{
    font-family: Segoe UI;
    font-size: 200%;
    padding: 5%;
  }

  h2{
    margin-top: -12%;
    margin-left: 8%;
    font-family: Segoe UI;
    font-size: 400%;
    margin-bottom: 15%;
  }


  input[type="text"] {
    background: url("../img/account.png") scroll 8px 5px;
    background-size: 110px;
    @include inputs;
  }

  input[type="password"] {
    background: url("../img/lock.png") scroll 20px 30px;
    background-size: 60px;
    @include inputs;
  }

  strong{
    font-family: Segoe UI;
    margin-left: 50%;
    font-size: 30px;
    a{
      text-decoration: none;
      color: black;
    }
  }

  input[type="submit"] {
    @include buttons;
  }
}
.foot{
      margin-top: 8%;
      text-align: center;
  strong{
    font-family: Segoe UI;
    font-size: 45px;
    a{
      text-decoration: none;
      color: #ff5050;
    }
  }
}
