<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/done.css" />
    <title></title>
  </head>
  <body>
    <div class="head">
      <h1>Hey, <%= user.username %>!</h1>
      <h1>Hey, <%= forgotpass.Email %>!</h1>
      <p class="line1">We will be with you from 1st August!</p>
    </div>
  </body>
</html>
