<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/done.css" />
    <title></title>
  </head>
  <body>
    <div class="head">
      <h1>Thanks!</h1>
      <p class="line1">Your registration has been submitted</p>
      <p class="line2">Our team will contact you shortly</p>
      <img src="../static/img/box.png" class="box-end"/>
    </div>
  </body>
</html>
