<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/forgot.css" />
  </head>
  <body>
    <form method="post" class="fget">
      <img src="../static/img/brokekey.png" class="broke"/>
      <h1>Forgot your password?</h1>
      <p>Don't worry! We'll help you to recover ASAP</p>
      <input  placeholder="Email" type="email" name="Email" required class="regemail" />
      <input type="submit" name="Next" value="Request Password" class="regbtn" />
    </form>
  </body>
</html>
