<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/recover.css" />
  </head>
  <body>
    <div class="recover">
      <h1>Thanks!</h1>
      <p>Your request has been submitted</p>
      <img src="../static/img/email.png" class="broke"/>
      <p>You will recieve an email within 2-4 <br />working hours</p>
    </div>
  </body>
</html>
