<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/done.css" />
    <script src="../static/js/index_route.js"></script>
    <title></title>
  </head>
  <body>
    <div class="head">
      <h1>Hey You!</h1>
      <p class="line1">This username is already taken try other username</p>
      <input type="submit" name="try" value="Try again" onclick="signup()"/>
    </div>
  </body>
</html>
